/*Blue: #282c4a
Tan: #ccc0b8
Pink: #ff0253*/


* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans",sans-serif;
}

h1 {
	font-size: 55px;
}

h2 {
	font-size: 45px;
	text-align: center;
	margin-top: 0;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
	margin: 5px auto;
	text-align: center;
	padding: 0 10px;
}

p {
	font-size: 16px;
}

a {
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
}

button {

}

section {
	padding: 40px 0;
}

.container {
	max-width: 1140px;
	width: 80%;
	margin: 0 auto;
}

header {
	background-image: url('images/p7224409_web.jpg');
	background-position: center left;
	background-size: cover;
}

header img {
	width: 40%;
}

nav {
	padding: 10px 20px;
}

header nav img {
	width: 15%;
	display: inline-block;
}

nav ul {
	margin: 0;
	padding: 0;
	width: 50%;
    display: inline-block;
    float: right;
    text-align: right;
}

nav ul li {
	list-style: none;
	display: inline-block;
	text-align: right;
}

nav ul li a {
	color: #292d4b;
	display: inline-block;
}

header section {
	text-align: right;
	padding: 7% 40px 18%;
}

.about {
	width: 100%;
	background: #292d4b;
	color: white;
}

.about .items {
	margin: 20px 0;
}

.about img {
	width: 49%;
	height: 50%;
	margin: 0;
	padding: 0;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
}

.about .content {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}

.about .items .content {
	padding-right: 20px;
}

.imageback {
	background-size: cover;
	padding: 18% 0;
	background-position: center 20%;
}

.imageback.two {
	background-image: url('images/P7083049_web.JPG');
}

.videos article a, .blog article {
	width: 33%;
	display: inline-block;
	padding: 5px;
	vertical-align: top;
}

article img {
	width: 100%;
}

.blog article a {
	color: black;
	display: block;
    padding: 0;
}

.blog article a:hover {
	color: #ff0253;
}

.blog article .content p a {
	font-size: 14px;
	color: #ff0253;
}

.blog article .content a.blog-img {
	height: 225px;
}

.blog article:nth-of-type(1) .content a.blog-img {
	background: url('images/wordpress.jpg');
	background-size: cover;
	background-position: center;
}

.blog article:nth-of-type(2) .content a.blog-img {
	background: url('images/train.jpeg');
	background-size: cover;
	background-position: center;
}

.blog article:nth-of-type(3) .content a.blog-img {
	background: url('images/birthday.jpg');
	background-size: cover;
	background-position: center;
}

.blog article .content p a:hover {
	color: #282c4a;
}

.blog article .content p.img-credit {
	font-size: 8px;
	text-align: left;
}

.blog article .content p.img-credit a {
	display: inline-block;
	color: black;
	font-size: 8px;
}

.thanks {
	background-image: url('images/P7224405_web.jpg');
	background-position: center 20%;
	background-size: cover;
	padding: 10% 0 20%;
	text-align: right;
}

.thanks h2 {
	text-align: right;
}

.thanks a {
	color: #ff0253;
    display: inline-block;
}

footer {
	background: #292d4b;
}

footer p {
	font-size: 12px;
	color: white;
	margin: 0;
	padding: 15px;
}